{# This tempate displays the form to create a new card set.
  It extends the layout.html template.  #}

{% extends "layout.html" %}

{% block titlebar %}
    <h1>Create New Card Set</h1>
{% endblock titlebar %}


{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {%  endfor %}
                        </div>
                    {%  else %}
                {{ form.title(class="form-control form=control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {%  endfor %}
                        </div>
                    {% else %}
                {{ form.description(class="form-control form=control-lg") }}
                    {% endif %}


            </div>
        </fieldset>

{%  endblock content %}

{% block actionbar %}
        <div class="form-group">
            {{ form.submit(class="btn btn-warning")}}
            <a href="{{ url_for('home') }}" class="btn btn-success btn-sm" role="button">Cancel</a>

        </div>
    </form>
{% endblock actionbar %}
