{# This tempate displays the form used to edit cards.
  It extends the layout.html template.  #}

{% extends "layout.html" %}

{% block titlebar %}
    <h1>CREATE A NEW CARD</h1>
{% endblock titlebar %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
        <div class="keywords">
            <div class="form-group">
                {{ form.keyword_one.label(class="form-control-label-sm") }}<br>

                    {% if form.keyword_one.errors %}
                        {{ form.keyword_one(class="form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keyword_one.errors %}
                                <span>{{ error }}</span>
                            {%  endfor %}
                        </div>
                    {%  else %}
                {{ form.keyword_one(class="form-control-sm") }}
                    {% endif %}
            </div>
            <div class="form-group">
                {{ form.keyword_two.label(class="form-control-label-sm") }}<br>

                    {% if form.keyword_two.errors %}
                        {{ form.keyword_two(class="form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keyword_two.errors %}
                                <span>{{ error }}</span>
                            {%  endfor %}
                        </div>
                    {%  else %}
                {{ form.keyword_two(class="form-control-sm") }}
                    {% endif %}
            </div>
        </div>
        <div class="image">
           <div class="form-group">
                <img src="static\images\{{ form.image_one.data }}">
               {{ form.image_one.label() }}<br>
               {{ form.image_one(class="form-control-file-sm") }}
               {%  for error in form.image_one.errors %}
                   <span class="text-danger">{{ error }}</span></br>
               {%  endfor %}
           </div>
        </div>
            <div class="form-group text_one">
                {{ form.text_one.label(class="form-control-label") }}
                    {% if form.text_one.errors %}
                        {{ form.text_one(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text_one.errors %}
                                <span>{{ error }}</span>
                            {%  endfor %}
                        </div>
                    {% else %}
                {{ form.text_one(class="form-control form-control-sm") }}
                    {% endif %}
            </div>

        </fieldset>
{% endblock content %}
{% block actionbar %}
        <div class="form-group">
            {{ form.finish (class ="btn btn-warning btn-sm") }}
            <a href="{{ url_for('reviewcards') }}" class="btn btn-success btn-sm" role="button">Cancel</a>
            <a href="#" class="btn btn-danger btn-sm" role="button" onclick="confirmDelete()">Delete Card</a>

        </div>
    </form>

{% endblock actionbar %}
{%  block javascript %}
    {# This script opens a confirm diaglog box when the user presses the delete button #}
    <script>
        function confirmDelete() {
        var txt;
        var r = confirm("WARNING!\nYou are about to permanently DELETE this card!");
        if (r == true) {
            {# this sets the form.delete element to true so the route will delete the card. #}
            document.getElementsByName('delete').checked = true;
            document.forms["editcard"].submit();
        }

}
</script>

{%  endblock javascript %}
