{# This tempate displays the home (main) page of the program.
   This includes the cardset selection form and buttons to create, edit and display cardsets
  It extends the layout.html template.  #}

{% extends "layout.html" %}

{% block titlebar %}
    <h1>WELCOME TO <span class="studycards">STUDY</span> <span class="studycards">CARDS</span></h1>
{% endblock titlebar %}

{% block content %}
    <p>Select a Card Set from the list below<br>then use the "Select Cardset" or "Edit Cardset" buttons,<br>-or- </br>select "Create Cardset" to make a new Card Set</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.selected_cardset.label(class="form-control-label") }}
                 {{ form.selected_cardset(class="form-control form=control-lg") }}
            </div>
        </fieldset>



{% endblock content %}

{% block actionbar %}

    {{ form.submit(class="btn btn-success btn-sm")}}
    <a href="{{ url_for('about')}}"class="btn btn-info btn-sm">About</a>
    {{ form.edit (class ="btn btn-warning btn-sm") }}
    <a href="{{ url_for('cardset') }}"class="btn btn-danger btn-sm">Create Cardset</a>
    </form>
{% endblock actionbar %}

{%  block javascript %}
{% endblock javascript %}