{% extends "layout.html" %}

{% block titlebar %}
    <h1>Select A CardSet</h1>
{% endblock titlebar %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.selected_cardset.label(class="form-control-label") }}
                 {{ form.selected_cardset(class="form-control form-control-lg") }}
            </div>
        </fieldset>

{% endblock content %}

{% block actionbar %}
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
{% endblock actionbar %}

{%  block javascript %}
{% endblock javascript %}