body {
    background-color: #11557C;
}
.menubar,.actionbar {
    background-color: #3A7734;
    height: 10vh;
}
.spacer {
    width: 100%
}
nain {
    width: 100%
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #9C1A1C;
}
.content {
    text-align: center;
}
.row {
    height: 80vh;
}